{% load static %}

{% include 'header.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}" media="all">
    <script type="text/javascript" src="{% static 'input-filestyle/bootstrap-filestyle.min.js' %}"></script>


    <!--覆蓋bootstrap scaffolding.less(html,body)-->
</head>

<script type="text/javascript">

$(document).ready(function(){

    $('#register').click(function(){
        
        var company_name_C = document.getElementById("company_name_C").value;

        var company_name_E = document.getElementById("company_name_E").value;
        var principal = document.getElementById("principal").value;
        var uniform_numbers = document.getElementById("uniform_numbers").value;
        var URL = document.getElementById("URL").value;
        var address = document.getElementById("address").value;

        var unit = document.getElementById("unit").value;
        var fill_in = document.getElementById("fill_in").value;
        var job_title = document.getElementById("job_title").value;
        var tel = document.getElementById("tel").value;
        var email = document.getElementById("email").value;

        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;
        var checkbox1 = document.getElementById("checkbox1").checked;
        var upload = "{{ file_name }}"

        $.ajax({
            url:"{% url 'register_table' %}",
            data :  {
                company_name_C,
                company_name_E,
                principal,
                uniform_numbers,
                URL,
                address,

                unit,
                fill_in,
                job_title,
                tel,
                email,

                account,
                password,
                checkbox1,
                upload,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){
                $('#output').html(data);
                // $("#myModal").modal('show');

                
                $('#table_genome_genes').DataTable();

            },
                                        
            beforeSend:function(){

                $.blockUI({ css: { 
                            width : '25%',
                            border: 'none', 
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px', 
                            opacity: .5, 
                            color: '#fff'
                            }
                         });
            },

            complete:function(){
                $.unblockUI();
            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        });                                                                                                           
    });

    $('#uploadlink').click(function(){
        
        var company_name_C = document.getElementById("company_name_C").value;
        var company_name_E = document.getElementById("company_name_E").value;
        var principal = document.getElementById("principal").value;
        var uniform_numbers = document.getElementById("uniform_numbers").value;
        var URL = document.getElementById("URL").value;
        var address = document.getElementById("address").value;

        var unit = document.getElementById("unit").value;
        var fill_in = document.getElementById("fill_in").value;
        var job_title = document.getElementById("job_title").value;
        var tel = document.getElementById("tel").value;
        var email = document.getElementById("email").value;

        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;
        var checkbox1 = document.getElementById("checkbox1").checked;

        $.ajax({
            url:"{% url 'keep_register_value' %}",
            data :  {
                company_name_C,
                company_name_E,
                principal,
                uniform_numbers,
                URL,
                address,

                unit,
                fill_in,
                job_title,
                tel,
                email,

                account,
                password,
                checkbox1,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){
                var company_name_E = document.getElementById("company_name_E").value;
                window.location.href = "{% url 'upload_register' %}?company_name_E=" + company_name_E;
            },
                                        
            beforeSend:function(){

            },

            complete:function(){

            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                // alert(xhr.status); 
                // alert(thrownError);
            }       
        });                                                                                                           
    });

    function checkbox_value(checkboxname){//數checkbox2[]有勾選幾個
        var feature_value = new Array();
        $("input:checkbox:checked[name='"+checkboxname+"']").each(function(i) { 
            feature_value[i] = this.value; 
        });
        return feature_value;
    }

    if (performance.navigation.type == 1) {
        var company_name_E = document.getElementById("company_name_E").value;
        $.ajax({
            url:"{% url 'remove_file' %}",
            data :  {
                company_name_E,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){

            },
                                        
            beforeSend:function(){

            },

            complete:function(){
            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        }); 

    }
    else {
        console.info( "This page is not reloaded");
    }

    $('#register').click(function(){
        
        var company_name_C = document.getElementById("company_name_C").value;
        var uniform_numbers = document.getElementById("uniform_numbers").value;
        var date = new Date().toLocaleString();

        $.ajax({
            url:"{% url 'sendmail_post_register' %}",
            data :  {
                company_name_C,
                uniform_numbers,
                date,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){

            },
                                        
            beforeSend:function(){

            },

            complete:function(){

            },        
            error:function(xhr, ajaxOptions, thrownError){ 

            }       
        });                                                                                                           
    });

    $('#pre_register').click(function(){
        $(".modal-body #empty_text").text("");
        var company_name_C = document.getElementById("company_name_C").value;

        var company_name_E = document.getElementById("company_name_E").value;
        var principal = document.getElementById("principal").value;
        var uniform_numbers = document.getElementById("uniform_numbers").value;
        var URL = document.getElementById("URL").value;
        var address = document.getElementById("address").value;

        var unit = document.getElementById("unit").value;
        var fill_in = document.getElementById("fill_in").value;
        var job_title = document.getElementById("job_title").value;
        var tel = document.getElementById("tel").value;
        var email = document.getElementById("email").value;

        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;

        var company_name_C_label = document.getElementById("company_name_C_label").textContent;

        var value_array = [company_name_C,company_name_E,principal,uniform_numbers,URL,address,unit,fill_in,job_title,tel,email,account,password]
        var id_array = ['company_name_C','company_name_E','principal','uniform_numbers','URL','address','unit','fill_in','job_title','tel','email','account','password']

        if(value_array.indexOf("") > -1){//資料填寫不完整
            $(".modal-body #empty_text").append("以下資料尚未填寫!<br><br>");
            for (i = 0; i < value_array.length; i++) { 
                if(value_array[i] == ""){
                    empty_text = document.getElementById(id_array[i]+"_label").textContent;
                    $(".modal-body #empty_text").append(empty_text+"<br>");
                }
            }
            $("#empty").modal('show');
        }
        else{
            $("#confirm").modal('show');
        }
        
    })

    $('#register').click(function(){
        $("#confirm").modal('hide');
        $("#myModal").modal('show');
    })

    $('#norm_link').click(function(){
        $("#norm_modal").modal('show');
    })
});
</script>

<div id="id_content">
    <div id = "middle">
        <div width=100% align="center">
 
            <div id="Sidebar_middle">
	            <ul class="nav nav-tabs">
	                <li><a style="background-color:#fcfcfc;border-top:2px solid #1982b8;font-weight:bold;">企業資料管理註冊</a></li>
	            </ul>
	            <form class="form-horizontal SearchForm">
	                <br><br>

    	            <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Company</a></li>
	            	</ul><span style="color:red;">*註冊資料欄位皆須填寫</span><br>
				 	<div class='FormOption'>
                        <div class="form-group">
	                            
                            <label for="inputPassword3" class="col-sm-3 control-label" id="company_name_C_label">公司名稱 (中文) : </label>

                            <div class="col-sm-6">
                                {% if company_name_C %}
                                    <input id="company_name_C" type="text" class="form-control" placeholder="" value="{{ company_name_C }}">
                                {% else %}   
                                    <input id="company_name_C" type="text" class="form-control" placeholder="">
                                {% endif %}
						      	
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="company_name_E_label">公司名稱 (英文) : </label>

                            <div class="col-sm-6">
                                {% if company_name_E %}
                                    <input id="company_name_E" type="text" class="form-control" placeholder="" value="{{ company_name_E }}">
                                {% else %}   
                                    <input id="company_name_E" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="principal_label">負責人 : </label>

                            <div class="col-sm-6">
                                {% if principal %}
                                    <input id="principal" type="text" class="form-control" placeholder="" value="{{ principal }}">
                                {% else %}   
                                    <input id="principal" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="uniform_numbers_label">統一編號 : </label>

                            <div class="col-sm-6">
                                {% if uniform_numbers %}
                                    <input id="uniform_numbers" type="text" class="form-control" placeholder="" value="{{ uniform_numbers }}">
                                {% else %}   
                                    <input id="uniform_numbers" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="URL_label">公司網址 : </label>

                            <div class="col-sm-6">
                                {% if URL %}
                                    <input id="URL" type="text" class="form-control" placeholder="" value="{{ URL }}">
                                {% else %}   
                                    <input id="URL" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="address_label">公司地址 : </label>

                            <div class="col-sm-6">
                                {% if address %}
                                    <input id="address" type="text" class="form-control" placeholder="" value="{{ address }}">
                                {% else %}   
                                    <input id="address" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br>
                        </div>


                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Unit</a></li>
	            	</ul><br>
				 	<div class='FormOption'>
                        <div class="form-group">
	                            
                            <label for="inputPassword3" class="col-sm-3 control-label" id="unit_label">填寫單位 : </label>

                            <div class="col-sm-6">
                                {% if unit %}
                                    <input id="unit" type="text" class="form-control" placeholder="" value="{{ unit }}">
                                {% else %}   
                                    <input id="unit" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="fill_in_label">填寫人 : </label>

                            <div class="col-sm-6">
                                {% if fill_in %}
                                    <input id="fill_in" type="text" class="form-control" placeholder="" value="{{ fill_in }}">
                                {% else %}   
                                    <input id="fill_in" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="job_title_label">職稱 : </label>

                            <div class="col-sm-6">
                                {% if job_title %}
                                    <input id="job_title" type="text" class="form-control" placeholder="" value="{{ job_title }}">
                                {% else %}   
                                    <input id="job_title" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="tel_label">連絡電話 : </label>

                            <div class="col-sm-6">
                                {% if tel %}
                                    <input id="tel" type="text" class="form-control" placeholder="" value="{{ tel }}">
                                {% else %}   
                                    <input id="tel" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="email_label">Email : </label>

                            <div class="col-sm-6">
                                {% if email %}
                                    <input id="email" type="text" class="form-control" placeholder="" value="{{ email }}">
                                {% else %}   
                                    <input id="email" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br>
                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">File</a></li>
	            	</ul><br>
				 	<div class='FormOption'>
                        <div class="form-group">
	                            
                            <label for="inputPassword3" class="col-sm-3 control-label" id="upload_label">附檔 : </label>

                            <div class="col-sm-6">
                                <a id='uploadlink'><button type="button" class="btn btn-primary" id="upload">上傳</button></a><br>
                            </div><br><br>

                            {% if file_name %}
                                <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    {{ file_name }}
                                </div><br>
                            {% endif %}
                            <label for="inputPassword3" class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                <span style="color:red;">境外公司請務必上傳營業執照以供查核</span>
                            </div>

                            
                        </div>
                    </div><br><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Account</a></li>
	            	</ul><br>
				 	<div class='FormOption'>
                        <div class="form-group">
	                            
                            <label for="inputPassword3" class="col-sm-3 control-label" id="account_label">帳號 : </label>

                            <div class="col-sm-6">
                                {% if account %}
                                    <input id="account" type="text" class="form-control" placeholder="" value="{{ account }}">
                                {% else %}   
                                    <input id="account" type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label" id="password_label">密碼 : </label>

                            <div class="col-sm-6">
                                {% if password %}
                                    <input id="password" type="password" class="form-control" placeholder="" value="{{ password }}">
                                {% else %}   
                                    <input id="password" type="password" class="form-control" placeholder="">
                                {% endif %}
                            </div><br>
                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Information</a></li>
	            	</ul><br>
				 	<div class='FormOption'>
                        <div class="form-group">

                        	<label for="inputPassword3" class="col-sm-3 control-label">
                                {% if checkbox1 %}
                                    <input id="checkbox1" type="checkbox" checked>
                                {% else %}   
                                    <input id="checkbox1" type="checkbox">
                                {% endif %}
                            </label>
	                    	<div class="col-sm-4">
                                本單位已閱讀了解並同意網站注意事項
                            </div>
                            <a id = "norm_link" style="cursor:pointer;">開啟網站使用注意事項</a>
                        </div>
                    </div><br>
                    <button type ='button' value = 'search' id = "pre_register" class="btn btn-primary">送出申請</button><br><br>

                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">請確認!</h4>
                                </div>
                            <div class="modal-body">
                                <p>請確認資料正確!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="register">確認</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="modal fade" id="empty" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">錯誤!</h4>
                                </div>
                            <div class="modal-body">
                                <p id="empty_text"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">註冊成功!</h4>
                                </div>
                            <div class="modal-body">
                                <p>經審核後即可登入!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'Login' %}"><button type="button" class="btn btn-default">關閉</button></a>
                            </div>
                            </div>
                          
                        </div>
                    </div>

                    <div class="modal fade" id="norm_modal" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><b>成功大學企業求才刊登網站使用注意事項</b></h4>
                                </div>
                            <div class="modal-body" align="left">
                                敬愛的企業先進 您好<br><br>
                                歡迎使用成功大學企業求才訊息刊登網站，使用網站前，請詳讀以下內容，當貴公司勾選「同意」鍵送出申請時，即視同貴公司同意並遵守本網站使用注意事項:<br><br>

                                一、求才單位刊登職缺皆應符合現行勞動相關法規之規範，如有違反請自行承擔所衍生之勞雇糾紛。<br><br>

                                二、若求才單位已停業、歇業、解散、合併等情事，請將徵才資訊下架並與網站管理員聯繫。<br><br>

                                三、求才單位不得冒用其他公司名義或私下接受他人請託以求才者名義為虛偽之刊登。<br><br>

                                四、刊登徵才內容如涉及下列情況，本網站則有權停止刊登訊息內容<br>
                                (1)   法定八大行業。<br>
                                (2)   賭博情色行業。<br>
                                (3)   利用本網站進行仲介或派遣方式向求職者收取費用者。<br>
                                (4)   以徵才名義進行直銷買賣行為者。<br>
                                (5)   其他經本組評估不適宜申請者。<br><br>

                                五.網站所蒐集之資料於適當範圍內提供校內單位，製作校務資料之用途。<br><br>

                                ※以上規範如有未盡事宜，以現行勞動就業及個資相關法規為準；本組得依網站運作情形，修改使用規定並公告週知。當求才單位申請使用本網站，經網站管理員審核通過，系統將會寄發通知信予求才單位，求才單位可逕自至本網站刊登職缺訊息。

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                            </div>
                          
                        </div>
                    </div>
	            </form><br>
           	</div>
        </div>

        <div id = 'output'>
        </div>
    </div>
</div><br>


{% include 'footer.html' %}
