
<table id="company_list">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>公司名稱</th>
            <th>統一編號</th>
            <th>送出日期</th>
            <th>審核狀態</th>
            <th>查詢</th>
        </tr>
    </thead>
    <tbody>
    	{% for row in result %}
            {% if row.0 != 'admin' %}
                {% if row.15 == 'true' %}
                    <tr style="background-color:#90EE90">
                        <td style="padding:10px 18px;"><input type="checkbox"></td>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.16 }}</td>
                        {% if row.15 == 'true' %}
                            <td>已審核</td>
                        {% else %}
                            <td>待審核</td>
                        {% endif %}
                        <td><a href="{% url 'Company_review' %}?company_name_C={{ row.0 }}&date={{ row.16 }}">查詢</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="padding:10px 18px;"><input type="checkbox"></td>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.16 }}</td>
                        {% if row.15 == 'true' %}
                            <td>已審核</td>
                        {% else %}
                            <td>待審核</td>
                        {% endif %}
                        <td><a href="{% url 'Company_review' %}?company_name_C={{ row.0 }}&date={{ row.16 }}">查詢</a></td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
