{% load static %}

{% include 'header.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}" media="all">
    <script type="text/javascript" src="{% static 'input-filestyle/bootstrap-filestyle.min.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<script type="text/javascript">

$(document).ready(function(){
    $(":file").filestyle({icon: false});

    $("#select").select2({
        placeholder: "Select a number",
        allowClear: true
    });

});
</script>

<div id="id_content">
    <div id = "middle">
        <div width=100% align="center">
            <div id="Sidebar_middle">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="" style="background-color:#fcfcfc;border-top:2px solid #1982b8;font-weight:bold;">職缺資訊</a>
                    </li>
 
                </ul>
                <form class="form-horizontal SearchForm">
                    <br><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">JOB</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">* 公司名稱 : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.1 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 職缺項目 : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.3 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作地點 : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.4 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作時間 : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.5 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作待遇 : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.6 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 需求人數 : </label>

                            <div class="col-sm-6">

                                <select class="form-control" id = 'select' style='width: 100%' disabled>
                                    {% if vacancy_detail %}
                                        <option value="{{ vacancy_detail.7 }}" selected>{{ vacancy_detail.7 }}</option>
                                    {% else %}
                                        <option></option>
                                    {% endif %}
                                    {% for i in option_range %}
                                        {% if i != vacancy_detail.7 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </select>
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作內容 :<br>(含應徵方式)</label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <textarea class="form-control" style="height:200px;" disabled>{{ vacancy_detail.8 }}</textarea>
                                {% else %}
                                    <textarea class="form-control" style="height:200px;"></textarea>
                                {% endif %}
                            </div><br>
                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">File</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                                
                            <label for="inputPassword3" class="col-sm-3 control-label">附檔1 : </label>

                            <div class="col-sm-6">
                                <a href="{% url 'download' %}?folder=uploads1&filename={{ vacancy_detail.9 }}""><button type="button" class="btn btn-primary"">下載</button></a>
                            </div><br><br>
                            {% if vacancy_detail %}
                                <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    {{ vacancy_detail.9 }}
                                </div>
                            {% endif %}<br><br>

                             <label for="inputPassword3" class="col-sm-3 control-label">附檔2 : </label>

                            <div class="col-sm-6">
                                <a href="{% url 'download' %}?folder=uploads2&filename={{ vacancy_detail.10 }}"><button type="button" class="btn btn-primary" >下載</button></a>
                            </div><br><br>
                            {% if vacancy_detail %}
                               <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    {{ vacancy_detail.10 }}
                                </div>
                            {% endif %}<br><br>


                            <label for="inputPassword3" class="col-sm-3 control-label">附檔3 : </label>

                            <div class="col-sm-6">
                                <a href="{% url 'download' %}?folder=uploads3&filename={{ vacancy_detail.11 }}"><button type="button" class="btn btn-primary" >下載</button></a>
                            </div><br><br>
                            {% if vacancy_detail %}
                                <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    {{ vacancy_detail.11 }}
                                </div>
                            {% endif %}<br><br>

                        </div>
                    </div><br>

                    {% if vacancy_detail.21 == 'true' %}
                        
                        <ul class="nav nav-tabs" style="padding-left: 70px;">
                            <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Unit</a></li>
                        </ul><br>
                        <div class='FormOption'>
                            <div class="form-group">
                                    
                                <label for="inputPassword3" class="col-sm-3 control-label">* 填寫單位 : </label>

                                <div class="col-sm-6">
                                    {% if vacancy_detail %}
                                        <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.12 }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="">
                                    {% endif %}
                                </div><br><br>

                                <label for="inputPassword3" class="col-sm-3 control-label">填寫人 : </label>

                                <div class="col-sm-6">
                                    {% if vacancy_detail %}
                                        <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.13 }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="">
                                    {% endif %}
                                </div><br><br>

                                <label for="inputPassword3" class="col-sm-3 control-label">職稱 : </label>

                                <div class="col-sm-6">
                                    {% if vacancy_detail %}
                                        <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.14 }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="">
                                    {% endif %}
                                </div><br><br>

                                <label for="inputPassword3" class="col-sm-3 control-label">連絡電話 : </label>

                                <div class="col-sm-6">
                                    {% if vacancy_detail %}
                                        <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.15 }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="">
                                    {% endif %}
                                </div><br><br>

                                <label for="inputPassword3" class="col-sm-3 control-label">* Email : </label>

                                <div class="col-sm-6">
                                    {% if vacancy_detail %}
                                        <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.16 }}" disabled>
                                    {% else %}
                                        <input type="text" class="form-control" placeholder="">
                                    {% endif %}
                                </div><br><br>
                            </div>
                        </div><br>
                    {% endif %}

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">職缺刊登期間</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                                
                            <label for="inputPassword3" class="col-sm-3 control-label">* 刊登日期(起) : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.17 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 刊登日期(迄) : </label>

                            <div class="col-sm-6">
                                {% if vacancy_detail %}
                                    <input type="text" class="form-control" placeholder="" value="{{ vacancy_detail.18 }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" placeholder="">
                                {% endif %}
                            </div><br><br>
                        </div>
                    </div><br>

                </form><br>
            </div>
        </div>

        <div id = 'output'>
        </div>
    </div>
</div><br>


{% include 'footer.html' %}
