{% load static %}

{% include 'header.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}" media="all">
    <script type="text/javascript" src="{% static 'input-filestyle/bootstrap-filestyle.min.js' %}"></script>

</head>

<script type="text/javascript">

$(document).ready(function(){
    $(":file").filestyle({icon: false});
    $('#send').click(function(){
        
        var condition1 = document.getElementById("condition1").value.replace(/ /g, "_");
        var condition2 = document.getElementById("condition2").value.replace(/ /g, "_");

        var genome_genes = document.getElementById("genome_genes").checked;
        var transcriptome_genes = document.getElementById("transcriptome_genes").checked; 
        var GT_genes = document.getElementById("GT_genes").checked; 
        var genome_isoforms = document.getElementById("genome_isoforms").checked;
        var transcriptome_isoforms = document.getElementById("transcriptome_isoforms").checked; 
        var GT_isoforms = document.getElementById("GT_isoforms").checked; 
        
        var logFC_input = document.getElementById("logFC_input").value; 
        var PValue_input = document.getElementById("PValue_input").value; 
        $.ajax({
            url:'query_by_data/',
            data :  {
                condition1,
                condition2,

                genome_genes,
                transcriptome_genes,
                GT_genes,
                genome_isoforms,
                transcriptome_isoforms,
                GT_isoforms,

                logFC_input,
                PValue_input,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){
                $('#output').html(data);
                
                $('#table_genome_genes').DataTable();
                $('#table_genome_isoforms').DataTable();
                $('#table_transcriptome_genes').DataTable();
                $('#table_transcriptome_isoforms').DataTable();
                $('#table_GT_genes').DataTable();
                $('#table_GT_isoforms').DataTable();

            },
                                        
            beforeSend:function(){

                $.blockUI({ css: { 
                            width : '25%',
                            border: 'none', 
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px', 
                            opacity: .5, 
                            color: '#fff'
                            }
                         });
            },

            complete:function(){
                $.unblockUI();
            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        });                                                                                                           
    });

    $('#paper_div').change(function(){
        var paper = document.getElementById("paper_select").value;
        $.ajax({
            url:'select1_realtime/',
            data :  {
               paper,
               csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',
                
            success:function(data){
                $('#condition1_pre').hide()
                $('#c1_div').html(data);
                $("#condition1").select2({ //from condition2_real_time.html
                    placeholder: "Select a state",
                    allowClear: true
                });
            },
                                        
            beforeSend:function(){

            },

            complete:function(){

            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        });  
                                                                                                         
    });

    $('#c1_div').change(function(){
        var condition1 = document.getElementById("condition1").value.replace(/ /g, "_");
        $.ajax({
            url:'select2_realtime/',
            data :  {
               condition1,
               csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',
                
            success:function(data){
                $('#condition2_pre').hide()
                $('#c2_div').html(data);
                $("#condition2").select2({ //from condition2_real_time.html
                    placeholder: "Select a state",
                    allowClear: true
                });
            },
                                        
            beforeSend:function(){

            },

            complete:function(){

            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        });  
                                                                                                         
    });


    $("#select").select2({
        placeholder: "Select a number",
        allowClear: true
    });

    $("#condition2_pre").select2({
        placeholder: "Select a Control first!",
        allowClear: true
    });

    $("#paper_select").select2({
        placeholder: "Select a paper",
        allowClear: true
    });

    $("#clear").on("click", function () { 
        $('#condition1_pre,#condition2_pre').val(null).trigger("change"); 
    });


    $("#DE_genes_div").click(function() {
        if($("#genome_checkbox").prop("checked")) { //所引用之checkbox checked 相反
            $("#genome_checkbox").prop("checked",false)
        }
        else{
            $("#genome_checkbox").prop("checked",true)
        }
        if($("#genome_checkbox").prop("checked")) {
            $('#genome_level').show(250)
        }
        else{
            $('#genome_level').hide(250)
        }
        if(checkbox_value('Checkbox1[]').length > 0) {
            $("#hr_genes").show(250)
        }
        else{
            $("#hr_genes").hide(250)
        }
    });

    $("#DE_isoform_div").click(function() {
        if($("#transcriptome_checkbox").prop("checked")) { //所引用之checkbox checked 相反
            $("#transcriptome_checkbox").prop("checked",false)
        }
        else{
            $("#transcriptome_checkbox").prop("checked",true)
        }

        if($("#transcriptome_checkbox").prop("checked")) {
            $('#transcriptome_level').show(250)
        }
        else{
        $('#transcriptome_level').hide(250)
        }
        if(checkbox_value('Checkbox2[]').length > 0) {
            $("#hr_isoforms").show(250)
        }
        else{
            $("#hr_isoforms").hide(250)
        }
    });


    $("#logFC_checkbox").click(function() {//定義checkall2全選和checkboxTest的show.hide
        if($("#logFC_checkbox").prop("checked")) {
            $("#logFC_input").prop("disabled",false)
        }
        else {
            $("#logFC_input").prop("disabled",true).val('')         
        }
    });

    $("#PValue_checkbox").click(function() {//定義checkall2全選和checkboxTest的show.hide
        if($("#PValue_checkbox").prop("checked")) {
            $("#PValue_input").prop("disabled",false)
        }
        else {
            $("#PValue_input").prop("disabled",true).val('')       
        }
    });

    function checkbox_value(checkboxname){//數checkbox2[]有勾選幾個
        var feature_value = new Array();
        $("input:checkbox:checked[name='"+checkboxname+"']").each(function(i) { 
            feature_value[i] = this.value; 
        });
        return feature_value;
    }

});
</script>

<div id="id_content">
    <div id = "middle">
        <div width=100% align="center">

            <div id="Sidebar_middle">
	            <ul class="nav nav-tabs">
                    <li>
                    <li>
                        <a href="{% url 'Vacancy_P_admin' %}" style="background-color:#fcfcfc;border-top:2px solid #1982b8;font-weight:bold;">刊登職缺管理</a>
                    </li>

	            </ul>
	            <form class="form-horizontal SearchForm">
	                <br><br>

    	            <ul class="nav nav-tabs" style="padding-left: 70px;">
	                	<li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">JOB</a></li>
	            	</ul><br>
				 	<div class='FormOption'>
                        <div class="form-group">
	                            
                            <label for="inputPassword3" class="col-sm-3 control-label">* 職缺項目 : </label>

                            <div class="col-sm-6">
						      	<input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作地點 : </label>

                            <div class="col-sm-6">
						      	<input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作時間 : </label>

                            <div class="col-sm-6">
						      	<input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作待遇 : </label>

                            <div class="col-sm-6">
						    	<input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 需求人數 : </label>

                            <div class="col-sm-6">
						      	<select class="form-control" id = 'select' style='width: 100%'>
                                    <option></option>
                                    <option value='1'>1</option>
                                    <option value='2'>2</option>
                                    <option value='3'>3</option>
                                    <option value='4'>4</option>
                                    <option value='5'>5</option>
                                    <option value='6'>6</option>
                                    <option value='7'>7</option>
                                    <option value='8'>8</option>
                                    <option value='9'>9</option>
                                    <option value='10'>10</option>
                                </select>
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 工作內容 :<br>(含應徵方式)</label>

                            <div class="col-sm-6">
                                <textarea class="form-control" style="height:200px;"></textarea>
                            </div><br>
                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">File</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                                
                            <label for="inputPassword3" class="col-sm-3 control-label">附檔 : </label>
                            <div class="col-sm-6">
                                <input id="fileupload1_1" type="file"><span id = 'text1_1'></span>
                            </div><br><br>

                             <label for="inputPassword3" class="col-sm-3 control-label">附檔 : </label>
                            <div class="col-sm-6">
                                <input id="fileupload1_1" type="file"><span id = 'text1_1'></span>
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">附檔 : </label>
                            <div class="col-sm-6">
                                <input id="fileupload1_1" type="file"><span id = 'text1_1'></span>
                            </div><br><br>

                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Unit</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                                
                            <label for="inputPassword3" class="col-sm-3 control-label">* 填寫單位 : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">填寫人 : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">職稱 : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">連絡電話 : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* Email : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>
                        </div>
                    </div><br>

                    <ul class="nav nav-tabs" style="padding-left: 70px;">
                        <li role="presentation" class="active"><a style="background-color:#fcfcfc;border-bottom:2px solid #B22222;font-weight:bold;box-shadow:5px 5px 8px 2px #ccc;">Unit</a></li>
                    </ul><br>
                    <div class='FormOption'>
                        <div class="form-group">
                                
                            <label for="inputPassword3" class="col-sm-3 control-label">* 刊登日期(起) : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>

                            <label for="inputPassword3" class="col-sm-3 control-label">* 刊登日期(迄) : </label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="">
                            </div><br><br>
                        </div>
                    </div><br>
                    <button type ='button' value = 'search' id = "send" class="btn btn-primary">儲存資料</button>
                    <button type ='button' value = 'search' id = "send" class="btn btn-primary">修改資料</button><br><br>
                    <button type ='button' value = 'search' id = "send" class="btn btn-primary">進行刊登</button>
                    <button type ='button' value = 'search' id = "send" class="btn btn-primary">取消刊登</button><br><br>
	            </form><br>
           	</div>
        </div>

        <div id = 'output'>
        </div>
    </div>
</div><br>


{% include 'footer.html' %}
