{% load static %}

{% include 'header.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkbox.css' %}" media="all">

    <!--覆蓋bootstrap scaffolding.less(html,body)-->
</head>

<script type="text/javascript">

$(document).ready(function(){

    $('#login').click(function(){
        
        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;

        $.ajax({
            url:"{% url 'check_account' %}",
            data :  {
                account,
                password,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type:'POST',

            datatype : 'text',

                                
            success:function(data){
                console.log(data)
                data = data.split("||")
                state = data[0]
                company_name_C = data[1]
                account = data[2]
                // $('#output').html(data);
                // $('html,body').animate({scrollTop:$('#output').offset().top},800);
                // $('#table_genome_genes').DataTable();.

                if(state == 'login success'){
                    if (account == 'admin'){
                        window.location.href = "{% url 'Company_info_admin' %}";
                    }
                    else{
                        window.location.href = "{% url 'Company_info' %}?company_name_C="+encodeURI(company_name_C)+"&account=" + encodeURI(account);
                    }
                }
                else if(state == 'not review'){
                    $("#not_review").modal('show');
                }
                else if(state == 'account not exists'){
                    $("#not_exists").modal('show');
                }
                var password = document.getElementById("password").value;
                
            },
                                        
            beforeSend:function(){

                $.blockUI({ css: { 
                            width : '25%',
                            border: 'none', 
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px', 
                            opacity: .5, 
                            color: '#fff'
                            }
                         });
            },

            complete:function(){
                $.unblockUI();
            },        
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError);
            }       
        });                                                                                                           
    });

    $(document).keypress(function(e) {
        if(e.which == 13) {
            $('#login').click();
        }
    });

    $("#vacancy_table").DataTable(
            {
                "order": [[ 2, "desc" ]],
                "searching": false,
                "lengthChange": false,
                // "bInfo" : false,
                "language": {
                    "paginate": {
                        "previous": "上一頁",
                        "next": "下一頁",
                    },
                    "info": "第_PAGE_頁 , 共_PAGES_頁",
                }
            }
        );

});
</script>

<div id="id_content">
    <div id = "middle">
        <div width=100% align="center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                    <!--<div id="Sidebar_left">-->
        	            <ul class="nav nav-tabs">
        	                <li><a style="background-color:#F0F8FF;border-top:2px solid #1982b8;font-weight:bold;">求才列表</a></li>
        	            </ul>
        	            <form class="form-horizontal SearchForm" style="background-color:#F0F8FF;height:540px;">
        	                <br>
        				 	<!--<table class="table table-scroll" id="vacancy_table">-->
                            <div style="padding-left:10px;padding-right:10px;">
                            <table id="vacancy_table" >
        					    <thead>
        					      	<tr>
        						        <th>公司名稱</th>
        						        <th>職稱項目</th>
        						        <th>刊登日期</th>
                                        <th>查詢</th>
        					      	</tr>
        					    </thead>
        					    <tbody>
                                {% for row in vacancy_list %}

                                    {% if row.19 == 'true' %}
                                        <tr>
                                            <td>{{ row.1 }}</td>
                                            <td>{{ row.3 }}</td>
                                            <td>{{ row.17 }}</td>
                                            <td><a href="{% url 'Vacancy_query' %}?company_name_C={{ row.1|urlencode }}&vacancies={{ row.3|urlencode }}&work_place={{ row.4|urlencode }}&work_time={{ row.5|urlencode }}&treatment={{ row.6|urlencode }}&publish_date_start={{ row.17|urlencode }}&post_date={{ row.20|urlencode }}">查詢</a></td>
                                        </tr>
                                        <!--row.0|urlencode  網址傳特殊字元encode-->
                                    {% endif %}
                                {% endfor %}

        					    </tbody>
        				  	</table><br>
                            </div>
        					
        	            </form>
                   	</div>

                    <div class="col-md-4">
                   	<!--<div id="Sidebar_right">-->
        	            <ul class="nav nav-tabs">
        	            	<li><a style="background-color:#F0FFF0;border-top:2px solid #1982b8;font-weight:bold;">企業徵才職缺登入</a>
        	            	</li>
        	        	</ul>
                   		<form class="form-horizontal SearchForm" style="background-color:#F0FFF0;height:350px;">
                   			<br><br>
                   			<div class='FormOption'>
                                <div class="form-group">
        	                            
                                    <label for="inputPassword3" class="col-sm-3 control-label">帳號 : </label>

                                    <div class="col-sm-5">
        							    <div class="input-group">
        							      <input type="text" class="form-control" id="account" placeholder="請輸入統編">
        							    </div>
                                    </div>
                                </div>
                            </div><br>

                   			<div class='FormOption'>
                                <div class="form-group">
        	                            
                                    <label for="inputPassword3" class="col-sm-3 control-label">密碼 : </label>

                                    <div class="col-sm-5">
                                        <div class="input-group">
        							      <input type="password" class="form-control" id="password" placeholder="密碼">
        							    </div>
                                    </div>
                                </div>
                            </div><br>
                            <button type ='button' id = "login" class="btn btn-primary">登入</button>
        	                <a href="{% url 'Register' %}" style="text-decoration:none;">
                                <button type ='button' id = "login" class="btn btn-primary">新增</button>
                            </a><br><br>
        	                &nbsp;<span style='color:red;font-size:15px;'>初次使用請點選(新增)填寫企業資料</span><br>
                            &nbsp;<span style='font-size:15px;'>建議瀏覽器 : 
                                        <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank">Chrome</a>,
                                        <a href="https://www.microsoft.com/zh-tw/windows/microsoft-edge" target="_blank">Microsoft Edge</a>,
                                        <a href="http://www.opera.com/zh-tw" target="_blank">Opera</a>,
                                        <a href="https://www.mozilla.org/zh-TW/firefox/new/" target="_blank">Firefox</a>
                                  </span>
                   		</form><br><br>
                   		<form class="form-horizontal SearchForm" style="background-color:#FFEBCD;height:120px;">
                   			<br>
                   			
                   			<div class='FormOption'>
                                <div class="form-group">
        	                            
                                    <label for="inputPassword3" class="col-sm-4 control-label">刊登職缺數 : </label>
                                    <div class="col-sm-5">
                                    <div class="input-group">
                                    	<span style="font-weight:bold;font-size: 28px;color:#000080">{{ vacancy_count }}</span>
                                    </div>
                                    </div>
                                </div>
                            </div><br>
                   		</form>
                   	</div>
                </div>
            </div>
            <div class="modal fade" id="not_review" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">錯誤!</h4>
                        </div>
                        <div class="modal-body">
                            <p>帳號未經審核!</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'Login' %}"><button type="button" class="btn btn-default">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="not_exists" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">錯誤!</h4>
                        </div>
                        <div class="modal-body">
                            <p>此帳號不存在!</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'Login' %}"><button type="button" class="btn btn-default">Close</button></a>
                        </div>
                    </div>
                </div>
            </div><br><br><br>
            <span style="font-family:Microsoft JhengHei;font-weight:bold;color:#4d4d4d;font-size:22px;">相關網站 : </span>&nbsp;
            <a href="https://career3.osa.ncku.edu.tw/jbex/" target="_blank"><img src="{% static 'images/link1.png' %}" width="250px"></a>
            <a href="https://career3.osa.ncku.edu.tw/coach/" target="_blank"><img src="{% static 'images/link2.png' %}" width="250px"></a>
            <a href="https://career3.osa.ncku.edu.tw/Consultant/" target="_blank"><img src="{% static 'images/link3.png' %}" width="250px"></a>
            <a href="http://jobfair.osa.ncku.edu.tw/gradjobs/jsp/NewsAction.do" target="_blank"><img src="{% static 'images/link4.jpg' %}" width="250px"></a>
            <br><br>
            <span style="font-family:Microsoft JhengHei;font-weight:bold;color:#4d4d4d;font-size:22px;">粉絲專頁 : </span>&nbsp;
            <a href="https://goo.gl/vtsDjH" target="_blank"><img src="{% static 'images/FB1.png' %}" width="300px"></a>&nbsp;&nbsp;&nbsp;
            <a href="https://goo.gl/vD4P88" target="_blank"><img src="{% static 'images/FB2.png' %}" width="300px"></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/nckucareer/" target="_blank"><img src="{% static 'images/FB3.png' %}" width="300px"></a>
        </div>

        <div id = 'output'>
        </div>
    </div>
</div><br>


{% include 'footer.html' %}
